[defaults]

# yaml output is better for eyes
stdout_callback = yaml

# include roles.galaxy
roles_path = roles.galaxy:roles

vault_password_file = $ANSIBLE_VAULT_PASSWORD_FILE

# silence "Unable to parse ...rb as an inventory source" warning
inventory_ignore_extensions = .rb

# XXX silence `[WARNING]: Invalid characters were found in group names but not
# replaced, use # -vvvv to see details`.
#
# https://github.com/ansible/ansible/issues/56930
#
# I am against the new default that makes `-` invalid.
force_valid_group_names = ignore

# you need set this to yes when login user is NOT root, default become_user is
# root, and try to become to non-root user in non-python module
#
# allow_world_readable_tmpfiles = yes

[ssh_connection]
# reuse ssh session
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
